<alert type="danger" *ngIf="showAlert">
     New Password and Confirm password are required and should match.
</alert>
  <div class="container-forgot bg-light">
    <div class="forgot-title">Change your password</div>
    <form [formGroup]="resetForm" class="forgot-form" (ngSubmit)="reset()">
      <div class="form-group">
        <label for="password"><b>New Password</b></label>
        <input type="password" id="password" formControlName="password" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password"><b>Confirm Password</b></label>
        <input type="password" id="password" formControlName="confirmPassword" class="form-control" />
      </div>
      <div class="forgot-form-btn">
        <button value="submit" class="btn btn-primary">Change</button>
      </div>
    </form>
  
    <div class="login">
      <a tabindex (click)="goToLogin()">Go back to login</a>
    </div>
  </div>